.App {
  text-align: center;
  font-family: 'HelveticaNeue';
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.body {
  margin-top: 150px;
  padding: 20px 0px;
  height: 100%;
  min-height: calc(100vh - 280px);
}
a {
  text-decoration: none;
  color: #33a0e1;
  &:hover {
    color: #2884ba;
  }
}

.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 30px;
  }
  &--wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
  }
  &--container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .playlists--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .playlists--container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .playlists--container {
    grid-template-columns: repeat(4, 1fr);
  }
}